body {
    background: url(./../background/bck_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}


.header {
    padding-top: 50px;
    margin: 0 auto;
    width: 1020px;
    display: flex;
    flex-direction: column;
}


.header_wrapper {
    display: flex;
    justify-content: space-between;
}


.logo_header {
    padding-left: 70px;
    width: 53px;
    height: 47px;
    background-image: url(./../background/logo3.png);
    background-repeat: no-repeat;
}


.logo_header:hover {
    background-image: url(./../background/logo\ 2.png);
}


.logo_header:hover .slogan_header {
    color: #F26522;
    ;
}


.logo_header:hover .slogan_header_1 {
    color: #F26522;
}

.information a.email:hover,
.information a.telephone:hover {
    color: #F26522;
}


.link_logo {
    text-decoration: none;
}


.slogan_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;

}


.slogan_header_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.email,
.telephone {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}




.grid_containers {
    margin: 0 auto;
    width: 1020px;
    padding-top: 26px;
    display: grid;
    grid-template-columns: repeat(3, 309px);
    grid-template-rows: repeat(2, 261px);
    grid-column-gap: 61px;
    grid-row-gap: 37px;
}

.shopping_container_1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url(./../img/image_1.png);
    background-repeat: no-repeat;
}

.sightseeing_container_2 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(./../img/image_2.png);
    background-repeat: no-repeat;
}

.food_container_3 {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url(./../img/image_3.png);
    background-repeat: no-repeat
}

.bars_container_4 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(./../img/image_4.png);
    background-repeat: no-repeat;
}

.art_container_5 {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url(./../img/image_5.png);
    background-repeat: no-repeat;
}

.walking_container_6 {
    grid-area: 2 / 3 / 3 / 4;
    background-image: url(./../img/image_6.png);
    background-repeat: no-repeat;
}


.hover_container {
    background-color: #F26522;
    width: 300px;
    height: 55px;
    margin-top: 165px;
    margin-left: 2px;
}

.from_text {
    color: #FFF;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    padding-top: 7px;
    padding-left: 16px;
}

.price_and_details {
    display: flex;
}

.price_text {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 16px;
    padding-top: 8px;
}

.details_text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding-top: 14px;
    padding-left: 128px;
    text-decoration: none;
    display: flex;
}

.grid_container_title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

}

section {
    position: relative;
}

.grid_container_title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


.details_text::after {
    content: '';
    display: block;
    width: 7px;
    height: 12px;
    background-image: url(./img/arrow.png);
    margin-top: 1px;
    margin-left: 16px;
}

.from_text {
    display: none;
}

.hover_container {
    display: none;
}

.shopping_container_1:hover .hover_container,
.sightseeing_container_2:hover .hover_container,
.food_container_3:hover .hover_container,
.bars_container_4:hover .hover_container,
.art_container_5:hover .hover_container,
.walking_container_6:hover .hover_container {
    display: block;

}

.shopping_container_1:hover .from_text,
.sightseeing_container_2:hover .from_text,
.food_container_3:hover .from_text,
.bars_container_4:hover .from_text,
.art_container_5:hover .from_text,
.walking_container_6:hover .from_text {
    display: inline;
}

.grid_container_title:hover {
    color: #F26522;
    cursor: pointer;
}





.footer_container {
    padding-top: 48px;
    display: flex;
    justify-content: center;
}

.footer_text {
    width: 306px;
    height: 21px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}